@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color:#F9F9F9;
  color: #121212;
}

:root {
  width: 100%;
  height: 100vh;
  --color-text: #B3BABC;
  --color-background:#F9F9F9;
  --color-green-dark:#0D2F38;
  --color-green-medium-dark:#0A4251;
  --color-green-ligth:#2C797D;
  --color-green-medium:#195262;
  --color-yellow-200:#FFC01D;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */


/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
